* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 8px;
}

.header {
   display: flex;
   justify-content: center;
}

.reset {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;

   background-color: rgb(36, 180, 23);
   color: white;

   border-style: solid;
   border-color: rgb(141, 212, 134);
   border-radius: 8px;
   border-width: 3px;

   padding: 8px 16px;
   margin: 16px;
}

.grid {
   display: grid;
   grid-template-columns: repeat(16, 1fr);
   grid-template-rows: repeat(16, 1fr);
   /* background-color: rgb(159, 211, 200); */
   margin: 0 auto;
   gap: 2px;
}

.box {
   aspect-ratio: 1/1;
   margin: 0;
   padding: 0;
   background-color: rgb(2, 182, 122, 0);
   border-color: green;
   border-style: solid;
   border-width: 1px;
}